<div class="componentsBox">
  <div class="title">Components</div>
  <div class="componentsList">
    {{#each components}}
      {{#each sub}}
        {{#if name}}
        <div class="componentItem button but{{id}} {{#if isNoComponent}}buttonSelected{{/if}}" data-id="{{id}}">
          <div class="icon" data-id="{{id}}" style="{{style}}"></div>
          <span class="componentLabel">{{name}}</span>
        </div>
        {{/if}}
      {{/each}}
    {{/each}}
  </div>
  <div class="componentsFooter">
    <a href="javascript:void(0);" id="makeScreenShotButton">Show whole map</a>
  </div>
</div>
