<div class="controlsBox">
  <a href="javascript:void(0);" id="clearPackages" class="button clearPackagesButton">Clear tracks</a>
  <a href="javascript:void(0);" id="resetFactory" class="button resetFactoryButton">Reset</a>
  <br style="clear:both" />
  <a href="javascript:void(0);" class="button stopButton" id="stopButton">Pause</a>
  <a href="javascript:void(0);" class="button playButton" id="playButton">Play</a>
  <a href="javascript:void(0);" class="button playFastButton" id="playFastButton">Fast &gt;&gt;</a>
  <a href="javascript:void(0);" class="button playNormalButton" id="playNormalButton">Normal</a>
  <div id="bonusTicks" class="bonusTicks">Bonus ticks: <span></span>
  </div>
</div>