<div class="menuBox">
    <a href="javascript:void(0);" id="factoriesButton">Factories</a> 
    <a href="javascript:void(0);" id="statisticsButton">Statistics</a> 
    <a href="javascript:void(0);" id="researchButton">Research</a> 
    <a href="javascript:void(0);" id="upgradesButton">Upgrades</a> 
    <a href="javascript:void(0);" id="achievementsButton">Achievements</a> 
  <a href="javascript:void(0);" id="extraButton">Extra</a>
  <a href="javascript:void(0);" id="timeTravelButton">Time travel</a>
  <a href="javascript:void(0);" id="settingsButton">Settings</a>
  <a href="javascript:void(0);" id="helpButton">Help</a>
</div>