<div class="menuBox"> {{#if isMission}}
    <a href="javascript:void(0);" id="missionsButton">Challenges</a>
    <a href="javascript:void(0);" id="mainGameButton">Factories</a>
  {{else}}
    <a href="javascript:void(0);" id="factoriesButton">Factories</a> {{/if}} {{#if hasStatistics}}
    <a href="javascript:void(0);" id="statisticsButton">Statistics</a> {{/if}} {{#if hasResearch}}
    <a href="javascript:void(0);" id="researchButton">Research</a> {{/if}} {{#if hasUpgrades}}
    <a href="javascript:void(0);" id="upgradesButton">Upgrades</a> {{/if}} {{#if hasAchievements}}
    <a href="javascript:void(0);" id="achievementsButton">Achievements</a> {{/if}}
  <a href="javascript:void(0);" id="extraButton">Extra</a>
  <a href="javascript:void(0);" id="timeTravelButton">Time travel</a>
  <a href="javascript:void(0);" id="settingsButton">Settings</a>
  <a href="javascript:void(0);" id="helpButton">Help</a>
</div>