<div class="statusBar">
  <div class="statusBar-factoryName" id="factoryNameHeader" title="{{factoryName}}">{{factoryName}}</div>
  <div class="statusBar-divider"></div>
  <div class="statusBar-group">
    <span class="statusBar-label">Credits</span>
    <span class="money statusBar-value">$<b id="money"></b></span>
  </div>
  <div class="statusBar-divider"></div>
  <div class="statusBar-group">
    <span class="statusBar-label">Income</span>
    <span class="money statusBar-value">$<span id="income"></span><span class="statusBar-unit">/tick</span></span>
  </div>
  <!-- <div class="statusBar-divider"></div>
  <div class="statusBar-group">
    <span class="statusBar-label">Unrest</span>
    <span class="unrest statusBar-value"><span id="unrest">0</span></span>
  </div>
  <div class="statusBar-divider"></div>
  <div class="statusBar-group">
    <span class="statusBar-label">Influence</span>
    <span class="influence statusBar-value"><span id="influence">0</span></span>
  </div> -->
  {{#if researchBought}}
  <div class="statusBar-divider"></div>
  <div class="statusBar-group">
    <span class="statusBar-label">Research</span>
    <span class="research statusBar-value"><span id="research"></span></span>
  </div>
  <div class="statusBar-divider"></div>
  <div class="statusBar-group">
    <span class="statusBar-label">R. Income</span>
    <span class="research statusBar-value"><span id="researchIncome"></span><span class="statusBar-unit">/tick</span></span>
  </div>
  {{/if}}
  <div class="statusBar-divider"></div>
  <div class="statusBar-group">
    <span class="statusBar-label">Speed</span>
    <span class="statusBar-value ticks"><span id="ticks"></span><span class="statusBar-unit"> t/s</span></span>
  </div>
</div>
