<table class="factoryBox" width="100%" cellspacing="0" cellpadding="0" border="0">

    <tr>
        <td class="overviewArea" valign="top">
            <div class="overviewContainer">

            </div>
        </td>
        <td class="topArea" valign="top">
            <div class="topContainer">
                <div class="menuContainer"></div>
                <div class="infoContainer"></div>
                <div class="controlsContainer"></div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="componentsArea" valign="top">
            <div class="componentsContainer"></div>
            <div class="mapToolsContainer"></div>
            <div class="incentivizedAd"></div>
        </td>
        <td class="mapArea" valign="top">
            <div class="mapContainer"></div>
        </td>
    </tr>
</table>
