<div class="headerXX"> 
    You have <span class="money"> $ {{money}} </span>  to spend. Isn't that nice. Average total income <span class="money">${{income}}</span>.<br /> {{#if researchBought}} You have <span
        class="research"><b id="researchPoints"></b></span> research points. Avg production <span class="research"><b
            id="researchIncome"></b></span> {{/if}}</div>
<div class="helpXX">
    <div style="float:right"><span id="ticks"></span> ticks/sec</div> Buy more land to create even bigger empire.  
    Go ahead, buy some!
</div>
<div id="factorySelection" class="factories"> {{#each factories}} <div class="factoryButton {{design}}"
        data-id="{{id}}">
        <div class="name"> {{name}} </div> <span class="paused">{{#if isPaused}}&lt;&lt; Paused
            &gt;&gt;{{else}}&nbsp;{{/if}}</span> {{#if isBought}} <div class="productionTitle">Income</div>
        <div class="textLine money" data-id="{{id}}" data-key="income">-</div>
        <div class="productionTitle">Research</div>
        <div class="textLine research" data-id="{{id}}" data-key="researchProduction">-</div>
        <div class="button selectButton" data-id="{{id}}">SELECT</div> {{else}} <div class="productionTitle price">Price
        </div>
        <div class="textLine money">${{price}}</div>
        <div class="button buyButton" data-id="{{id}}">BUY</div> {{/if}}
    </div> {{/each}} 
</div>