<div class="factoryGrid">
    <div class="factoryGrid-status">
        <div class="overviewContainer"></div>
    </div>
    <div class="factoryGrid-nav">
        <div class="menuContainer"></div>
        <div class="controlsContainer"></div>
    </div>
    <div class="factoryGrid-sidebar">
        <div class="componentsContainer"></div>
        <div class="mapToolsContainer"></div>
        <div class="incentivizedAd"></div>
    </div>
    <div class="factoryGrid-main">
        <div class="mapContainer"></div>
    </div>
    <div class="factoryGrid-info">
        <div class="infoContainer"></div>
    </div>
</div>
