<div id="helpBg"></div>
<div id="help">
  <a href="javascript:void(0);" class="closeButton" style="float:right; display:block;">Close</a>
  <div class="menu">
    <a href="javascript:void(0);" data-id="gettingStarted">1. Getting started</a>
    <a href="javascript:void(0);" data-id="ironProduction">2. Setting up iron production</a>
    <a href="javascript:void(0);" data-id="labProduction">3. Setting up lab production</a>
    <a href="javascript:void(0);" data-id="plasticProduction">4. Setting up plastic</a>
    <a href="javascript:void(0);" data-id="sorter">5. Setting up sorter</a>
    <a href="javascript:void(0);" data-id="proTips">6. Pro tips</a>
    <a href="javascript:void(0);" data-id="faq">7. Frequent questions</a>
    <br />
    <br />
    <a href="javascript:void(0);" data-id="updates">UPDATES</a>
  </div>
  <div class="section" id="gettingStarted">
    <b class="title">Getting started</b>
    <br />
    <img src="img/tutorial/start.png" align="left" style="margin: 3px 6px 3px 0;" /> * <span style="color:lightblue; text-decoration:underline">Left panel contains components.</span> Click on one and then click on the map to where you would like to place it. <br />
    <br /> * <span style="color:lightblue; text-decoration:underline">Use conveyors</span> to connect components, so they start producing stuff. <br />
    <br /> * <span style="color:lightblue; text-decoration:underline">Make conveyors by click dragging</span> from inside the component to the component you want the conveyor to drop off. <br />
    <br /> * <span style="color:lightblue; text-decoration:underline">Sell components</span> by selecting any component from left panel and right clicking on the map to clear its footprint. <br />
    <br /> * <span style="color:lightblue; text-decoration:underline">Drag the map around</span> and read stats using the cursor "component". <br />
    <br style="clear:both" />
    <b class="title">Keys</b>
    <br /> * <u>Left click</u> - most actions, buy component etc. <br /> * <u>Right click OR SHIFT + left click/drag</u> - Sell components by selecting any component from left panel and right clicking on the map to clear its footprint. (You can hold down mouse and move around to clear whole area quickly.) <br /> * <u>SPACE</u> - Toggle mouse to last selected component and back <br />
    <br />
    <b class="title">What to expect?</b>
    <br /> * More challenging game play as time goes on! <br /> * Bigger and more complicated factories consisting of complicated product chains. <br /> * Joy and happiness when you make a mess! :) <br />
    <br />
    <b class="title">Offline progress?</b>
    <br /> If game is closed you will get bonus ticks that allow the game to be run really fast. <br />
    <br />
  </div>
  <div class="section" id="ironProduction">
    <b class="title">Setting up iron production</b>
    <br />
    <img src="img/tutorial/iron.png" align="left" style="margin: 3px 6px 3px 0;" />
    <br /> In the start you should produce <b class="iron">iron</b> from <b class="ironOre">iron ore</b>
    <br />
    <br /> For a 100% effective layout you need 4 iron buyers, 2 iron foundry and 1 seller. <br />
    <br /> Later as you research more technologies, these relationships change. For each component a chart shows how much of everything you need. <br />
    <br /> Depending on your upgrades, these numbers may be very odd, then use your best judgement to get the best layout :) (Like in other places you don't need good judgement :p) <br />
    <br /> Have fun! <br style="clear:both" />
  </div>
  <div class="section" id="labProduction">
    <b class="title">Setting up lab production</b>
    <br />
    <img src="img/tutorial/lab.png" align="left" style="margin: 3px 6px 3px 0;" /> Labs give huge bonus to research centers, so use them as many as you can afford if you want to research new more advanced technologies. <br />
    <br /> Luckily for you, setting up a lab can be quite a task. Labs require many different resources to be effective, but at the same time make production chain quite costly. <br />
    <br style="clear:both" />
  </div>
  <div class="section" id="plasticProduction">
    <b class="title">Setting up plastic production</b>
    <br />
    <img src="img/tutorial/plastic.png" align="left" style="margin: 3px 6px 3px 0;" /> Plastic production is a bit more complicated, as it also produces waste. <br />
    <br /> Resources come out clockwise starting from top left: plastic, waste, plastic, waste and so on. Using this piece of information, you can design your layout. <br />
    <br /> Later sorters will help to organize waste handling, additionally you can research clean production that will remove waste completely after you get electronics. <br />
    <br style="clear:both" />
  </div>
  <div class="section" id="sorter">
    <b class="title">Sorter</b>
    <br />
    <img src="img/tutorial/sorter2.png" style="margin: 3px 6px 3px 0;" />
    <br />
    <img src="img/tutorial/sorter.png" align="left" style="margin: 3px 6px 3px 0;" />
    <br /> * Sorter is a safe way to sort out waste in your production lines. <br />
    <br /> * Sorter needs to be configured - <b>click on the sorter</b> and set which exit should transport waste (or some other resource) <br />
    <br />
  </div>
  <div class="section" id="proTips">
    <b class="title">Pro tips</b>
    <br />
    <img src="img/tutorial/orderWithNumbers.png" align="left" style="margin: 3px 6px 3px 0;" /> * Order of outputs/inputs and conveyor crossings is always <b>top -> right -> bottom -> left (clockwise)</b>. This rule works everywhere. <br />
    <br /> * You can construct multiple input/output lines from/to same component. Very useful if component produces more than one resource per tick. <br />
    <br /> * Producing 20 items over 10 ticks means you need two output lines to get 100% efficiency. <br />
    <br />
    <br style="clear:both" />
    <img src="img/tutorial/split.png" align="right" style="margin: 3px 6px 3px 0;" /> * Splitting conveyor path can be used to sort resources, but has limited throughput. <br />
    <br /> * Multiple outputs from same component can also be used for sorting, but may jam if line gets full. <br />
    <br /> * Ultimately you can use sorter component, but it also has its flaws. <br />
    <br />
    <br style="clear:both" />
  </div>
  <div class="section" id="faq">
    <b class="title">Frequently asked questions</b>
    <br />
    <b style="color:lightblue; text-decoration:underline">I found a bug</b>
    <br /> * You probably didn't :) Think through your setup 3 times, if still seems like a bug, ask forums for a solution. Don't forget that this game is designed to be more difficult and challenging than an average game in the same category. <br />
    <br />
    <b style="color:lightblue; text-decoration:underline">Why can't I get 100% efficiency for a buyer</b>
    <br /> Check that you actually transport everything out from buyer. Sometimes one exit conveyor is not enough. <br />
    <br />
    <b style="color:lightblue; text-decoration:underline">Waste & plastic switched order</b>
    <br /> * It can happen if one of the lines gets full, therefore all resources would be sent to another output lines. <br />
    <br />
    <b style="color:lightblue; text-decoration:underline">Upgrade is useless.</b>
    <br /> Some upgrades may seem useless at some points - just don't buy them yet - they will be useful later. It is wise to think which upgrades are good for you and which are not. For example sometimes buying 3 upgrades at once would mean you don't need to change your layout. But buying one of them would mean you have to redesign a lot. <br /> If you bought an upgrade that changes production in a way you don't like, just sell it and all good. <br />
    <br />
  </div>
  <div class="section" id="updates">
    <b class="title">Updates</b>
    <br />
    <div style="height:500px; overflow-y:scroll">
      <b>V1.07</b>
      <br /> Quite a huge update that adds a lot of new content to the game! <br /> + New very big factory - Terafactory! <br /> + A lot more upgrades... like a lot! <br /> + New late game production <br /> + New research center with new quite fun to setup production cycle. <br />
      <br /> As balancing late game is quite hard because of different ways how you can setup things - what do you think about the balance of new stuff? Is it too easy/too hard? <br /> Let me know at Reddit/Kongregate - what do you think! <br />
      <br /> If anyone wants a challenge - fit research center 4 to first map! That should be quite a challenge to do :) <br />
      <br />
      <b>V1.06</b>
      <br /> This is a huge balancing update! I have received a lot of feedback that it is an idle game, but still felt a bit too slow. Well now this update makes the game progress a lot faster! Depending on your progress, it can be up to 3x faster <br /> * Profits of most sellers increased a bit. <br /> * Most research is now cheaper to get. <br /> * Lots of more upgrades for late game. <br /> * 8x more offline bonus ticks. <br /> * Bonus tick purchase amounts doubled. <br /> * Fixed text/image errors in help pages. <br /> * All updates are now shown in the game help section "Updates" <br /> * If clicking load game, it will ask for confirmation <br />
      <br /> Premium version for factoryidle.com <br /> Acquired with any new purchase after this release or older non consumable purchases <br /> * Uses up whole screen. <br /> * No adds if you make a purchase at factoryidle.com <br />
      <br />
      <b>V1.05</b>
      <br /> * Metals lab and gas&oil lab does not produce waste anymore. Check your builds, as probably you are sending now some stuff to waste. <br /> * Late game balancing updates. (diesel sells with much better price, rockets research cheaper.) <br />
      <br />
      <b>V1.04</b>
      <br /> * background mode delay changed to 15sec. Previously was 2 minutes. <br /> * smaller UI fixes <br /> * Safari bugfix <br /> * Fixed bug with avg calculation that caused it to overshoot often and then stabilizing a bit later to lower value. Special thanks to Tiogshi who actually debugged and pointed this out! Wow! <br />
      <br />
      <b>V1.03</b>
      <br /> * If output/input of the component is changed, it clears its contents. This makes output order of items “less random” (though it never was random) <br /> * button that opens whole map on new tab for screenshot or just for viewing. <br /> * Game tells how many output conveyors element should have. Should make planning easier. <br /> * new components and lots of new upgrades. Seriously, lots of upgrades added. New final component is rockets.. really, rockets! <br />
      <br />
      <b>V1.02</b>
      <br /> * Max stock of all elements except research related is increased by 4 times. Components store maximum of 20 production cycles worth of items, in most cases 200 ticks. <br /> * Sorters are 2x more effective, basically one sorter can handle one fully loaded line. This is experimental, let’s see how it works out. It is still more effective to use splits as they use less room. <br /> * Cursor component will sell if right clicked. <br /> * Increased add watching bonus ticks amount to 1000 <br /> * When running bonus ticks, it will show actual ticks/sec value. As in many cases UI makes it slower, added ticks per sec value to factories view also for longer “bonus ticks” runs. <br /> * Fixed not seeing saved games. It happened because session key expired if game was running more than 24 hours straight and after that cloud save didn’t work + you didn’t see your saves. It now automatically refreshes session. <br />
    </div>
  </div>
</div>