<div id="settingsBg" class="drawer-bg"></div>
<div id="settings" class="drawer-panel">
  <div class="drawer-header">
    <span class="drawer-title">Settings</span>
    <a href="javascript:void(0);" class="drawer-close closeButton">&times;</a>
  </div>
  <b class="title">User key</b>
  <p>This is your unique user key. Keep it safe and have a backup!<br />There is no way to restore your game if this key gets lost!</p>
  <input type="text" class="userHash" id="userHash" value="{{userHash}}" name="userHash" readonly="readonly" />
  <div style="margin: 8px 0;">
    <input type="button" id="copyToClipboardButton" class="btn-success" value="Copy to clipboard" />
  </div>

  <b class="title">Save</b>
  <p>Use manual save if you want to experiment. Game <b>auto saves</b> locally every {{localSaveInterval}} and to cloud every {{cloudSaveInterval}}.</p>
  {{#each saveSlots}}
    <div class="saveSlot">
      <b>{{name}}</b>
      <br />
      <input type="button" class="saveToSlot btn-success" data-id="{{id}}" value="Save" />
      <br />
      <br />
      {{#if hasSave}} {{lastSave}}
        <br /> Ticks: <b>{{ticks}}</b>
        <br />
        <input type="button" class="loadSlot btn-warning" data-id="{{id}}" value="Load" />
      {{else}} <span style="color: var(--text-muted)">No save yet</span> <br />
      {{/if}}
    </div>
  {{/each}}
  <br style="clear:both" />
  {{#if devMode}}
    <b class="title">Load from data</b>
    <br />
    <input type="text" id="loadData" style="width: 100%; margin: 6px 0;" />
    <input type="button" id="loadDataButton" value="Load data" />
    <br style="clear:both" />
  {{/if}}
  <br />
  <b class="title">Switch user key</b>
  <p>If you have an existing user key, paste it here and click update. This will reload the page with the new account.</p>
  <input type="text" class="updateUserHash" id="updateUserHash" value="" name="updateUserHash" style="width: 100%; margin-bottom: 8px;" />
  <input type="button" name="updateUserHashButton" id="updateUserHashButton" value="Update" />
  <br />
  <br />
  <b class="title" style="color: var(--danger-color);">Reset</b>
  <p><b class="red">Resets the game.</b> You have been warned!<br />
  Manual saves will not be deleted. Purchased unlocks are kept, but consumed items like bonus ticks are lost.</p>
  <input type="button" name="resetGame" id="resetGame" class="btn-danger" value="Reset whole game" />
  <div style="float:right; margin-top: 12px; color: var(--text-muted); font-size: 0.85em;">Version 1.07</div>
  <br />
</div>