<div class="statisticsBox">
  <span class="backButton" id="backToReactor">Back to factory</span> Expenses <table>
    <tr>
      <td>Component</td>
      <td>Count</td>
      <td>Avg effectiveness</td>
      <td>Running costs</td>
      <td>Purchases</td>
    </tr>
  </table> Income <table>
    <tr>
      <td>Component</td>
      <td>Count</td>
      <td>Avg efficiency</td>
      <td>Sales</td>
    </tr>
  </table> Resources <table>
    <tr>
      <td>Resource</td>
      <td>Total produced</td>
    </tr>
  </table>
  <div class="graph" style="height:900px;"></div>
</div>