<div class="upgradesBox">
  <span class="backButton" id="backToReactor">Back to factory</span>
  <div class="header"> You have <b class="money">$ <span id="money"></span>
    </b> to spend. Make it count! <br />
    <span class="miniText">Upgrades apply only to this area.</span>
  </div>
  <br /> {{#each groups}} {{#if isBreak}}
      <br style="clear:both" />
    {{else}}
      <div class="upgradeGroup">
        <div class="head">
          <div class="buildingIcon">
            <div class="buildingIconSelf" style="{{iconStyle}}"></div>
          </div>
          <div class="text">{{name}}</div> {{#each upgrades}} {{#if isSeparator}}
              <div style="width:10px; height:10px; float:right;"></div>
            {{else}}
              <div class="upgradeItem upgradeItem_{{action}}" data-id="{{id}}" data-action="{{action}}">
                <div class="upgradeIcon" style="{{iconStyle}}"></div>
                <div class="upgradePopup smallText" data-id="{{id}}" data-action="{{action}}">
                  <div class="upgradeTitle">
                    <b>{{title}}</b> {{#if isSell}}( <u>sell</u>){{/if}}
                  </div>
                  <br />
                  <span>Bought: </span>
                  <b class="bought green"></b>{{#if max}}
                    <b class="red">/{{max}}</b>{{/if}}
                  <br /> {{#if isBuy}} {{#if isMaxed}}
                      <b class="red">Maxed!</b>
                      <br />
                    {{else}}
                      <span class="priceTitle">Buy for:</span>
                      <b class="money">${{buyPrice}}</b>
                      <br /> {{/if}}
                    <br />
                    <div class="upgradeDescription">{{{description}}}</div>
                  {{/if}} {{#if isSell}} {{#if canSell}}
                      <span class="priceTitle">Sell for:</span>
                      <b class="money">${{sellPrice}}</b>
                      <span class="miniText">(refunds {{refund}})</span>
                      <br />
                    {{else}}
                      <b class="red">You haven't bought any, can't sell</b>
                      <br /> {{/if}} {{/if}}
                </div>
              </div>
            {{/if}} {{/each}}
        </div>
      </div>
    {{/if}} {{/each}}
</div>